

<div style="background-color: #001838 !important; color: white; padding: 30px; border-radius: 10px;">
  <div style="
    font-family: 'Poppins', sans-serif; 
  text-align: center; 
  padding: 30px; 
  background-color: #001838; 
  max-width: 500px; 
  margin: auto; 
  ">
  

  <div>
    <img src="https://i.postimg.cc/mDpTGsb8/Registrar.png" alt="CVSU Logo" width="300px">
  </div>

  <div style="font-family: Arial, sans-serif; text-align: center; padding: 20px">
    <h2 style="color: #fafafa">Request #<%= requestID %></h2>
    <p><%= message %></p>
  
  </div>
  
  <a
    href="http://localhost:5173/request-details/<%= requestID %>"
    style="
      display: inline-block;
      padding: 10px 20px;
      background-color: #007bff;
      color: white;
      text-decoration: none;
      border-radius: 5px;
    "
  >
    Check Request
  </a>
  </div>
</div>
