<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request Notification</title>
    <style>
        body {
            font-family: 'Poppins', sans-serif;
            background-color: #f4f4f4;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .container {
            text-align: center;
            padding: 30px;
            margin: auto;
            max-width: 400px;
            background-color: #001838;
            border-radius: 10px;
        }
        .logo {
            width: 100%;
        }
        .logo img {
            width: 100%;
            height: auto;
        }
        .content {
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 20px;
            color: #fafafa;
        }
        .button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #007bff;
            color: white;
            text-decoration: none;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="https://i.postimg.cc/mDpTGsb8/Registrar.png" alt="CVSU Logo">
        </div>
        <div class="content">
            <h2>Request #<%= requestID %></h2>
            <p><%= message %></p>
        </div>
        <a href="https://registrars-client.onrender.com/request-details/<%= requestID %>" class="button">Check Request</a>
    </div>
</body>
</html>