<div style="font-family: Arial, sans-serif; text-align: center; padding: 20px">
  <h2 style="color: #007bff">Good day <%= firstName %>!</h2>
  <p>This is your One-Time-Password(OTP)</p>
  <h4><%= otp %></h4>
</div>
