<div style="background-color: #001838 !important; color: white; padding: 30px; border-radius: 10px;">
  <div style="
    font-family: 'Poppins', sans-serif; 
  text-align: center; 
  padding: 30px; 
  background-color: #001838; 
  max-width: 500px; 
  margin: auto; 
  ">
  

  <div>
    <img src="https://i.postimg.cc/mDpTGsb8/Registrar.png" alt="CVSU Logo" width="300px">
  </div>

  <div style="font-family: Arial, sans-serif; text-align: center; padding: 20px">
    <h2 style="color: #ffffff">Good day <%= firstName %>!</h2>
    <p style="color: #ffffff">This is your One-Time-Password(OTP)</p>
    <h4><%= otp %></h4>
  </div>
  

  </div>
</div>
